<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgnbs.ms.dao.SysActionDAO">
  <resultMap id="BaseResultMap" type="com.sgnbs.ms.model.SysAction">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="canbatch" jdbcType="INTEGER" property="canbatch" />
    <result column="btnclass" jdbcType="VARCHAR" property="btnclass" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="isshow" jdbcType="INTEGER" property="isshow" />
    <result column="winxy" jdbcType="VARCHAR" property="winxy" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="needid" jdbcType="INTEGER" property="needid" />
    <result column="menuname" jdbcType="VARCHAR" property="menuname" />
    
  </resultMap>
  <sql id="Base_Column_List">
    id, url, canbatch, btnclass, name, menu_id, sort, type, isshow, winxy, permission, 
    needid,menuname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_action
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_action
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sgnbs.ms.model.SysAction">
    insert into sys_action (id, url, canbatch, 
      btnclass, name, menu_id, 
      sort, type, isshow, 
      winxy, permission, needid,menuname
      )
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{canbatch,jdbcType=INTEGER}, 
      #{btnclass,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{menuId,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{isshow,jdbcType=INTEGER}, 
      #{winxy,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}, #{needid,jdbcType=INTEGER},
      , #{menuname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sgnbs.ms.model.SysAction">
    insert into sys_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="canbatch != null">
        canbatch,
      </if>
      <if test="btnclass != null">
        btnclass,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isshow != null">
        isshow,
      </if>
      <if test="winxy != null">
        winxy,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="needid != null">
        needid,
      </if>
      <if test="menuname != null">
        menuname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="canbatch != null">
        #{canbatch,jdbcType=INTEGER},
      </if>
      <if test="btnclass != null">
        #{btnclass,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isshow != null">
        #{isshow,jdbcType=INTEGER},
      </if>
      <if test="winxy != null">
        #{winxy,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="needid != null">
        #{needid,jdbcType=INTEGER},
      </if>
      <if test="menuname != null">
        #{menuname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sgnbs.ms.model.SysAction">
    update sys_action
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="canbatch != null">
        canbatch = #{canbatch,jdbcType=INTEGER},
      </if>
      <if test="btnclass != null">
        btnclass = #{btnclass,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isshow != null">
        isshow = #{isshow,jdbcType=INTEGER},
      </if>
      <if test="winxy != null">
        winxy = #{winxy,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="needid != null">
        needid = #{needid,jdbcType=INTEGER},
      </if>
      <if test="menuname != null">
        menuname = #{menuname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sgnbs.ms.model.SysAction">
    update sys_action
    set url = #{url,jdbcType=VARCHAR},
      canbatch = #{canbatch,jdbcType=INTEGER},
      btnclass = #{btnclass,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      isshow = #{isshow,jdbcType=INTEGER},
      winxy = #{winxy,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR},
      needid = #{needid,jdbcType=INTEGER},
      menuname = #{menuname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<select id="findList" resultMap="BaseResultMap">
		 select 
    <include refid="Base_Column_List" />
    from sys_action
    <where>
    	<if test="isshow!=null and isshow!=''">
    		and isshow =#{isshow}
    	</if>
    	<if test="menuId!=null and menuId!=''">
    		and menu_id=#{menuId}
    	</if>
    </where>
</select>  
</mapper>