<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgnbs.ms.dao.SysLogDAO">
  <resultMap id="BaseResultMap" type="com.sgnbs.ms.model.SysLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="actiondesc" jdbcType="VARCHAR" property="actiondesc" />
    <result column="actiontime" jdbcType="TIMESTAMP" property="actiontime" />
    <result column="sonactionids" jdbcType="VARCHAR" property="sonactionids" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="result" jdbcType="INTEGER" property="result" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, actiondesc, actiontime, sonactionids, type, result
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sgnbs.ms.model.SysLog">
    insert into sys_log (id, user_id, actiondesc, 
      actiontime, sonactionids, type, 
      result)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{actiondesc,jdbcType=VARCHAR}, 
      #{actiontime,jdbcType=TIMESTAMP}, #{sonactionids,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{result,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sgnbs.ms.model.SysLog">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="actiondesc != null">
        actiondesc,
      </if>
      <if test="actiontime != null">
        actiontime,
      </if>
      <if test="sonactionids != null">
        sonactionids,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="result != null">
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="actiondesc != null">
        #{actiondesc,jdbcType=VARCHAR},
      </if>
      <if test="actiontime != null">
        #{actiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="sonactionids != null">
        #{sonactionids,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sgnbs.ms.model.SysLog">
    update sys_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="actiondesc != null">
        actiondesc = #{actiondesc,jdbcType=VARCHAR},
      </if>
      <if test="actiontime != null">
        actiontime = #{actiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="sonactionids != null">
        sonactionids = #{sonactionids,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sgnbs.ms.model.SysLog">
    update sys_log
    set user_id = #{userId,jdbcType=VARCHAR},
      actiondesc = #{actiondesc,jdbcType=VARCHAR},
      actiontime = #{actiontime,jdbcType=TIMESTAMP},
      sonactionids = #{sonactionids,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      result = #{result,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>